<div
  class="thought {{ thought.modelo }} ff-roboto-mono"
  [ngClass]="widthThought"
>
  <img src="/assets/imagens/{{ thought.modelo }}.png" alt="Aspas coloridas" />
  <p class="conteudo">{{ thought.conteudo }}</p>
  <p class="autoria">
    <b>{{ thought.autoria }}</b>
  </p>
  <div class="acoes">
    <button class="botao-editar">
      <img
        src="/assets/imagens/icone-editar.png"
        routerLink="/thoughts/edit-thought/{{ thought.id }}"
        alt="Ícone de editar"
      />
    </button>
    <button
      class="botao-excluir"
      routerLink="/thoughts/delete-thought/{{ thought.id }}"
    >
      <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir" />
    </button>
  </div>
</div>
