<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filtro"
        (keyup)="searchThoughts()"
      />
      <img src="../../../../assets/imagens/lupa.png" alt="Lupa" />
    </div>
    <h2 class="ff-inter">Meu mural</h2>
    <button class="botao" routerLink="/create-thought">
      Adicionar pensamento
    </button>
  </header>
  <div class="mural" *ngIf="listThoughts.length > 0; else noThoughts">
    <div *ngFor="let thought of listThoughts">
      <app-card-thought [thought]="thought"></app-card-thought>
    </div>
  </div>
</section>
<app-button-read-more
  [haMoreThoughts]="haMoreThoughts"
  (click)="readMoreThoughts()"
></app-button-read-more>
<ng-template #noThoughts>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>
